.custom-input{
    width: 200px;
    padding: 10px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.todo-list{
    background: blue;
    border: none;
    padding: 5px;
    width: 50vw;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}

.todo-list button{
    background: red;
    border: none;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}